In [1]:
# Import de la bibliothèque
import pandas as pd

In [36]:
#Chargement des données à partir du fichier csv
df = pd.read_csv('olympic_hosts.csv')

In [37]:
#Visualisation des premières lignes
print(df.head())

   index         game_slug         game_end_date       game_start_date  \
0      0      beijing-2022  2022-02-20T12:00:00Z  2022-02-04T15:00:00Z
1      1        tokyo-2020  2021-08-08T14:00:00Z  2021-07-23T11:00:00Z
2      2  pyeongchang-2018  2018-02-25T08:00:00Z  2018-02-08T23:00:00Z
3      3          rio-2016  2016-08-21T21:00:00Z  2016-08-05T12:00:00Z
4      4        sochi-2014  2014-02-23T16:00:00Z  2014-02-07T04:00:00Z

        game_location         game_name game_season  game_year
0               China      Beijing 2022      Winter       2022
1               Japan        Tokyo 2020      Summer       2020
2   Republic of Korea  PyeongChang 2018      Winter       2018
3              Brazil          Rio 2016      Summer       2016
4  Russian Federation        Sochi 2014      Winter       2014

In [38]:
#Vérifier s'il y a des valeurs nulles
df.isnull().sum()

index              0
game_slug          0
game_end_date      0
game_start_date    0
game_location      0
game_name          0
game_season        0
game_year          0
dtype: int64

In [39]:
print(df.head())

   index         game_slug         game_end_date       game_start_date  \
0      0      beijing-2022  2022-02-20T12:00:00Z  2022-02-04T15:00:00Z
1      1        tokyo-2020  2021-08-08T14:00:00Z  2021-07-23T11:00:00Z
2      2  pyeongchang-2018  2018-02-25T08:00:00Z  2018-02-08T23:00:00Z
3      3          rio-2016  2016-08-21T21:00:00Z  2016-08-05T12:00:00Z
4      4        sochi-2014  2014-02-23T16:00:00Z  2014-02-07T04:00:00Z

        game_location         game_name game_season  game_year
0               China      Beijing 2022      Winter       2022
1               Japan        Tokyo 2020      Summer       2020
2   Republic of Korea  PyeongChang 2018      Winter       2018
3              Brazil          Rio 2016      Summer       2016
4  Russian Federation        Sochi 2014      Winter       2014

In [40]:
print(df.dtypes)

index               int64
game_slug          object
game_end_date      object
game_start_date    object
game_location      object
game_name          object
game_season        object
game_year           int64
dtype: object

In [41]:
# Conversion des colonnes 'game_start_date' et 'game_end_date' en datetime
df['game_end_date'] = pd.to_datetime(df['game_end_date'])
df['game_start_date'] = pd.to_datetime(df['game_start_date'])
print(df.head())

   index         game_slug             game_end_date  \
0      0      beijing-2022 2022-02-20 12:00:00+00:00
1      1        tokyo-2020 2021-08-08 14:00:00+00:00
2      2  pyeongchang-2018 2018-02-25 08:00:00+00:00
3      3          rio-2016 2016-08-21 21:00:00+00:00
4      4        sochi-2014 2014-02-23 16:00:00+00:00

            game_start_date       game_location         game_name game_season  \
0 2022-02-04 15:00:00+00:00               China      Beijing 2022      Winter
1 2021-07-23 11:00:00+00:00               Japan        Tokyo 2020      Summer
2 2018-02-08 23:00:00+00:00   Republic of Korea  PyeongChang 2018      Winter
3 2016-08-05 12:00:00+00:00              Brazil          Rio 2016      Summer
4 2014-02-07 04:00:00+00:00  Russian Federation        Sochi 2014      Winter

   game_year
0       2022
1       2020
2       2018
3       2016
4       2014

In [42]:
print(df.dtypes)

index                            int64
game_slug                       object
game_end_date      datetime64[ns, UTC]
game_start_date    datetime64[ns, UTC]
game_location                   object
game_name                       object
game_season                     object
game_year                        int64
dtype: object

In [43]:
#Vérifier s'il y a des doublons
print(df.duplicated().sum())

0

In [50]:
#Nettoyage des données des colonnes 'game_location' et 'game_name'
df['game_location'] = df['game_location'].str.strip()
df['game_name'] = df['game_name'].str.strip()
print(df)

    index                    game_slug             game_end_date  \
0       0                 beijing-2022 2022-02-20 12:00:00+00:00
1       1                   tokyo-2020 2021-08-08 14:00:00+00:00
2       2             pyeongchang-2018 2018-02-25 08:00:00+00:00
3       3                     rio-2016 2016-08-21 21:00:00+00:00
4       4                   sochi-2014 2014-02-23 16:00:00+00:00
5       5                  london-2012 2012-08-12 19:00:00+00:00
6       6               vancouver-2010 2010-02-28 04:00:00+00:00
7       7                 beijing-2008 2008-08-24 12:00:00+00:00
8       8                   turin-2006 2006-02-26 19:00:00+00:00
9       9                  athens-2004 2004-08-29 18:00:00+00:00
10     10          salt-lake-city-2002 2002-02-24 08:00:00+00:00
11     11                  sydney-2000 2000-10-01 09:00:00+00:00
12     12                  nagano-1998 1998-02-22 11:00:00+00:00
13     13                 atlanta-1996 1996-08-05 21:00:00+00:00
14     14             lillehammer-1994 1994-02-27 19:00:00+00:00
15     15               barcelona-1992 1992-08-09 18:00:00+00:00
16     16             albertville-1992 1992-02-23 19:00:00+00:00
17     17                   seoul-1988 1988-10-02 10:00:00+00:00
18     18                 calgary-1988 1988-02-28 03:00:00+00:00
19     19             los-angeles-1984 1984-08-12 19:00:00+00:00
20     20                sarajevo-1984 1984-02-19 19:00:00+00:00
21     21                  moscow-1980 1980-08-03 18:00:00+00:00
22     22             lake-placid-1980 1980-02-24 01:00:00+00:00
23     23                montreal-1976 1976-07-31 22:00:00+00:00
24     24               innsbruck-1976 1976-02-15 19:00:00+00:00
25     25                  munich-1972 1972-09-11 19:00:00+00:00
26     26                 sapporo-1972 1972-02-13 11:00:00+00:00
27     27             mexico-city-1968 1968-10-28 04:00:00+00:00
28     28                grenoble-1968 1968-02-18 19:00:00+00:00
29     29                   tokyo-1964 1964-10-24 11:00:00+00:00
30     30               innsbruck-1964 1964-02-09 19:00:00+00:00
31     31                    rome-1960 1960-09-11 19:00:00+00:00
32     32            squaw-valley-1960 1960-02-28 04:00:00+00:00
33     33               melbourne-1956 1956-12-08 10:00:00+00:00
34     34       cortina-d-ampezzo-1956 1956-02-05 19:00:00+00:00
35     35                helsinki-1952 1952-08-03 07:00:00+00:00
36     36                    oslo-1952 1952-02-25 19:00:00+00:00
37     37                  london-1948 1948-08-14 19:00:00+00:00
38     38               st-moritz-1948 1948-02-08 19:00:00+00:00
39     39                  berlin-1936 1936-08-16 19:00:00+00:00
40     40  garmisch-partenkirchen-1936 1936-02-16 20:00:00+00:00
41     41             los-angeles-1932 1932-08-14 19:00:00+00:00
42     42             lake-placid-1932 1932-02-15 18:00:00+00:00
43     43               amsterdam-1928 1928-08-12 19:00:00+00:00
44     44               st-moritz-1928 1928-02-19 08:00:00+00:00
45     45                   paris-1924 1924-07-27 19:00:00+00:00
46     46                chamonix-1924 1924-02-05 20:00:00+00:00
47     47                 antwerp-1920 1920-09-12 19:00:00+00:00
48     48               stockholm-1912 1912-07-27 20:00:00+00:00
49     49                  london-1908 1908-10-31 20:09:00+00:00
50     50                st-louis-1904 1904-11-24 02:00:00+00:00
51     51                   paris-1900 1900-10-28 19:50:39+00:00
52     52                  athens-1896 1896-04-15 11:39:39+00:00

             game_start_date                game_location  \
0  2022-02-04 15:00:00+00:00                        China
1  2021-07-23 11:00:00+00:00                        Japan
2  2018-02-08 23:00:00+00:00            Republic of Korea
3  2016-08-05 12:00:00+00:00                       Brazil
4  2014-02-07 04:00:00+00:00           Russian Federation
5  2012-07-27 07:00:00+00:00                Great Britain
6  2010-02-12 16:00:00+00:00                       Canada
7  2008-08-08 00:00:00+00:00                        China
8  2006-02-10 07:00:00+00:00                        Italy
9  2004-08-13 06:00:00+00:00                       Greece
10 2002-02-08 15:00:00+00:00                United States
11 2000-09-15 01:00:00+00:00                    Australia
12 1998-02-06 23:00:00+00:00                        Japan
13 1996-07-19 12:00:00+00:00                United States
14 1994-02-12 07:00:00+00:00                       Norway
15 1992-07-25 06:00:00+00:00                        Spain
16 1992-02-08 07:00:00+00:00                       France
17 1988-09-16 22:00:00+00:00            Republic of Korea
18 1988-02-13 15:00:00+00:00                       Canada
19 1984-07-28 15:00:00+00:00                United States
20 1984-02-08 07:00:00+00:00                   Yugoslavia
21 1980-07-19 05:00:00+00:00                         USSR
22 1980-02-13 13:00:00+00:00                United States
23 1976-07-17 12:00:00+00:00                       Canada
24 1976-02-04 07:00:00+00:00                      Austria
25 1972-08-26 07:00:00+00:00  Federal Republic of Germany
26 1972-02-02 23:00:00+00:00                        Japan
27 1968-10-12 16:00:00+00:00                       Mexico
28 1968-02-06 07:00:00+00:00                       France
29 1964-10-09 23:00:00+00:00                        Japan
30 1964-01-29 07:00:00+00:00                      Austria
31 1960-08-25 07:00:00+00:00                        Italy
32 1960-02-18 16:00:00+00:00                United States
33 1956-11-21 22:00:00+00:00            Australia, Sweden
34 1956-01-26 07:00:00+00:00                        Italy
35 1952-07-19 07:00:00+00:00                      Finland
36 1952-02-14 07:00:00+00:00                       Norway
37 1948-07-29 07:00:00+00:00                Great Britain
38 1948-01-30 07:00:00+00:00                  Switzerland
39 1936-08-01 07:00:00+00:00                      Germany
40 1936-02-06 08:00:00+00:00                      Germany
41 1932-07-30 16:00:00+00:00                United States
42 1932-02-04 13:00:00+00:00                United States
43 1928-05-17 07:00:00+00:00                  Netherlands
44 1928-02-11 08:00:00+00:00                  Switzerland
45 1924-05-04 07:00:00+00:00                       France
46 1924-01-25 08:00:00+00:00                       France
47 1920-04-20 07:00:00+00:00                      Belgium
48 1912-05-05 08:00:00+00:00                       Sweden
49 1908-04-27 08:00:00+00:00                Great Britain
50 1904-07-01 14:00:00+00:00                United States
51 1900-05-14 08:50:39+00:00                       France
52 1896-04-06 11:38:39+00:00                       Greece

                      game_name game_season  game_year
0                  Beijing 2022      Winter       2022
1                    Tokyo 2020      Summer       2020
2              PyeongChang 2018      Winter       2018
3                      Rio 2016      Summer       2016
4                    Sochi 2014      Winter       2014
5                   London 2012      Summer       2012
6                Vancouver 2010      Winter       2010
7                  Beijing 2008      Summer       2008
8                    Turin 2006      Winter       2006
9                   Athens 2004      Summer       2004
10          Salt Lake City 2002      Winter       2002
11                  Sydney 2000      Summer       2000
12                  Nagano 1998      Winter       1998
13                 Atlanta 1996      Summer       1996
14             Lillehammer 1994      Winter       1994
15               Barcelona 1992      Summer       1992
16             Albertville 1992      Winter       1992
17                   Seoul 1988      Summer       1988
18                 Calgary 1988      Winter       1988
19             Los Angeles 1984      Summer       1984
20                Sarajevo 1984      Winter       1984
21                  Moscow 1980      Summer       1980
22             Lake Placid 1980      Winter       1980
23                Montreal 1976      Summer       1976
24               Innsbruck 1976      Winter       1976
25                  Munich 1972      Summer       1972
26                 Sapporo 1972      Winter       1972
27             Mexico City 1968      Summer       1968
28                Grenoble 1968      Winter       1968
29                   Tokyo 1964      Summer       1964
30               Innsbruck 1964      Winter       1964
31                    Rome 1960      Summer       1960
32            Squaw Valley 1960      Winter       1960
33               Melbourne 1956      Summer       1956
34       Cortina d'Ampezzo 1956      Winter       1956
35                Helsinki 1952      Summer       1952
36                    Oslo 1952      Winter       1952
37                  London 1948      Summer       1948
38              St. Moritz 1948      Winter       1948
39                  Berlin 1936      Summer       1936
40  Garmisch-Partenkirchen 1936      Winter       1936
41             Los Angeles 1932      Summer       1932
42             Lake Placid 1932      Winter       1932
43               Amsterdam 1928      Summer       1928
44              St. Moritz 1928      Winter       1928
45                   Paris 1924      Summer       1924
46                Chamonix 1924      Winter       1924
47                 Antwerp 1920      Summer       1920
48               Stockholm 1912      Summer       1912
49                  London 1908      Summer       1908
50               St. Louis 1904      Summer       1904
51                   Paris 1900      Summer       1900
52                  Athens 1896      Summer       1896

In [51]:
# Filtrage des données à partir de 2000
df = df[df['game_start_date'].dt.year >= 2000]
df

,index,game_slug,game_end_date,game_start_date,game_location,game_name,game_season,game_year
0,0,beijing-2022,2022-02-20 12:00:00+00:00,2022-02-04 15:00:00+00:00,China,Beijing 2022,Winter,2022
1,1,tokyo-2020,2021-08-08 14:00:00+00:00,2021-07-23 11:00:00+00:00,Japan,Tokyo 2020,Summer,2020
2,2,pyeongchang-2018,2018-02-25 08:00:00+00:00,2018-02-08 23:00:00+00:00,Republic of Korea,PyeongChang 2018,Winter,2018
3,3,rio-2016,2016-08-21 21:00:00+00:00,2016-08-05 12:00:00+00:00,Brazil,Rio 2016,Summer,2016
4,4,sochi-2014,2014-02-23 16:00:00+00:00,2014-02-07 04:00:00+00:00,Russian Federation,Sochi 2014,Winter,2014
5,5,london-2012,2012-08-12 19:00:00+00:00,2012-07-27 07:00:00+00:00,Great Britain,London 2012,Summer,2012
6,6,vancouver-2010,2010-02-28 04:00:00+00:00,2010-02-12 16:00:00+00:00,Canada,Vancouver 2010,Winter,2010
7,7,beijing-2008,2008-08-24 12:00:00+00:00,2008-08-08 00:00:00+00:00,China,Beijing 2008,Summer,2008
8,8,turin-2006,2006-02-26 19:00:00+00:00,2006-02-10 07:00:00+00:00,Italy,Turin 2006,Winter,2006
9,9,athens-2004,2004-08-29 18:00:00+00:00,2004-08-13 06:00:00+00:00,Greece,Athens 2004,Summer,2004
10,10,salt-lake-city-2002,2002-02-24 08:00:00+00:00,2002-02-08 15:00:00+00:00,United States,Salt Lake City 2002,Winter,2002
11,11,sydney-2000,2000-10-01 09:00:00+00:00,2000-09-15 01:00:00+00:00,Australia,Sydney 2000,Summer,2000

In [59]:
#Vérifier que l'année de début des JO correspond à celle où les JO ont eu lieu
#En 2020, les JO ont été reportés à cause du COVID (ils ont eu lieu en 2021)

df['start_year'] = df['game_start_date'].dt.year
diff_date = df[df['start_year'] != df['game_year']]
print("Différences entre start_year et game_year :\n", diff_date)

Différences entre start_year et game_year :
    index   game_slug             game_end_date           game_start_date  \
1      1  tokyo-2020 2021-08-08 14:00:00+00:00 2021-07-23 11:00:00+00:00

  game_location   game_name game_season  game_year  start_year
1         Japan  Tokyo 2020      Summer       2020        2021

C:\Users\tania\AppData\Local\Temp\ipykernel_24596\2440060762.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['start_year'] = df['game_start_date'].dt.year

In [57]:
#Vérifier s'il y a des erreurs dans les dates
erreurs_dates = df[df['game_end_date'] < df['game_start_date']]
print("Erreurs dans les dates :\n", erreurs_dates)

Erreurs dans les dates :
 Empty DataFrame
Columns: [index, game_slug, game_end_date, game_start_date, game_location, game_name, game_season, game_year, start_year]
Index: []

In [58]:
#Prise en compte des jeux d'été seulement
jo_ete = df[df['game_season'] != 'Winter']
print(jo_ete)

    index     game_slug             game_end_date           game_start_date  \
1       1    tokyo-2020 2021-08-08 14:00:00+00:00 2021-07-23 11:00:00+00:00
3       3      rio-2016 2016-08-21 21:00:00+00:00 2016-08-05 12:00:00+00:00
5       5   london-2012 2012-08-12 19:00:00+00:00 2012-07-27 07:00:00+00:00
7       7  beijing-2008 2008-08-24 12:00:00+00:00 2008-08-08 00:00:00+00:00
9       9   athens-2004 2004-08-29 18:00:00+00:00 2004-08-13 06:00:00+00:00
11     11   sydney-2000 2000-10-01 09:00:00+00:00 2000-09-15 01:00:00+00:00

    game_location     game_name game_season  game_year  start_year
1           Japan    Tokyo 2020      Summer       2020        2021
3          Brazil      Rio 2016      Summer       2016        2016
5   Great Britain   London 2012      Summer       2012        2012
7           China  Beijing 2008      Summer       2008        2008
9          Greece   Athens 2004      Summer       2004        2004
11      Australia   Sydney 2000      Summer       2000        2000